<div id="left-nav">
    <ul>
        <li>
            <navigation-item 
                [itemHeading] = "'Home'"
                [iconHtml] = '"<i class=\"fa fa-home\">"' >
            </navigation-item>
            <navigation-item 
                [itemHeading] = "'About Me'"
                [iconHtml] = '"<i class=\"fa fa-user-o\">"' >
            </navigation-item>
            <navigation-item 
                [itemHeading] = "'Stock API'"
                [iconHtml] = '"<i class=\"fa fa-line-chart\">"' >
            </navigation-item>
            <navigation-item 
                [itemHeading] = "'Resume'"
                [iconHtml] = '"<i class=\"fa fa-file-text\">"' >
            </navigation-item>
        </li>
    </ul>
</div>