<div id="main">

    <div class="main-frame">
        <div class="card">
            <div class="card-heading">
                Header 1
            </div>
            <div class="card-body">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate, augue eget viverra interdum, nisi lacus ornare leo, eget finibus libero arcu vel neque. Fusce faucibus nisi eget auctor convallis. Suspendisse non risus nec augue ullamcorper ultricies. Suspendisse
                </p>
                <p>
                    fermentum pulvinar efficitur. Nulla condimentum ante a nulla convallis, sed rutrum ex luctus. Mauris non nisi a velit venenatis ultricies. Fusce sed felis ut erat feugiat commodo a vitae erat. Fusce vel tortor eget orci blandit commodo. Fusce dictum sem quis congue auctor
                </p>
            </div>
        </div>
    </div>

    <div class="repo-container card">
        <repo-list></repo-list>
    </div>

    <div class="weather-container card" >

    </div>
</div>
