#main
{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:30px;
    flex-wrap: wrap;
}

.main-frame
{
    width:50%;
}

.repo-container
{
    width:35%;
    max-width:400px
}

.weather-container
{
    width:91%;
    height:300px;
    margin-top:70px;
}